<div class = "center">
<p>Genre: <%= @genre.genre %></p>

<% for album in @albums %>
<% if album.genre_id == @genre.id %>
<h2><%= album.title %></h2>
<p><%= album.artist.name %></p>

<% end %>
<% end %>

<form method="POST" action="/genres/<%= @genre.id%>/delete">
<input type="submit" value="De-list"/></form></div>
