<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = 'utf-8'>
 <title>Big Als Stock</title>
 <link rel='stylesheet' href='/style.css'</>
 <link rel ="icon" href="/images/record.png" />
</head>
<body>
 <nav>
   <ul>
   <li><a href="/albums">List all Albums</a></li>
   <li><a href="/artists">List all Artists</a></li>
   <li><a href="/albums/new">Add new Album to Stock</a></li>
   </ul>
 </nav>



 <%= yield %>
</body>
</html>