<!DOCTYPE html>
<html>
<head>
<!-- <meta charset = 'utf-8'> -->
 <title>Big Als Stock</title>
 <link rel ="icon" href='/images/record.png'>
 <link rel='stylesheet' href="/styles/buttons.css">
 <link rel='stylesheet' href='/styles/structure.css'>
 <link rel='stylesheet' href='/styles/forms.css'> 
</head>
<body>

 <nav>
   <ul>
   <li><a href="/artists/new">Add new Artist</a></li>
   <li><a href="/genres/new">Add new Genre</a></li>
   <li><a href="/albums/new">Add new Album to Stock</a></li>
   <li><a href="/albums">List all Albums</a></li>
   <li><a href="/artists">List by Artist</a></li>
   <li><a href="/genres">List by Genre</a></li>
   <li><a href="/albums/delivery">Recieve Delivery</a></li> 
   <li><a href="/">Home</a></li>
   </ul>
 </nav>



 <%= yield %>
</body>
</html>