select {
 display: inline-block;
 vertical-align: top;
 width: 30%;
 padding: 5px 105px 150px 150px;
 font-size: 1.25em;
 font-family: "Comic Sans";
 border: 5px solid black;
 margin: 0 30%;

} 

input[type="text"] {
  font-family:'Comic Sans';
  font-size: 1.25em;
}

input[type="number"] {
  font-size:1.25em;
}

form {
  width: 60%;
  margin: 0 auto;
}

label, input{
  display: inline-block;
}

label {
  width: 30%;
  color: beige;
}

label + input {
  width: 30%;
  margin: 0 30%;
}
