body {
  background: black url('/images/record_player.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:  center;
}


h1, h2, h3, h4 {
  font-family: "Comic Sans MS";
  color: beige;
}

h5, h6 {
  font-family: "Comic Sans MS"; sans serif;
  /*please forgive my use of comic sans*/
  color: beige;
}

p{
  font-family: "Comic Sans MS"; sans serif;
  color: beige;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

li {
    float: left;
}

li a {
    display: block;
    margin:0 auto;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}

.center {
  text-align: center;  
}

